<included>
    <property resource="logback-variable.properties"/>

    <appender name="CUSTOM_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <layout>
            <pattern>
                [CUSTOM_CONSOLE] ${LOG_PATTERN}
            </pattern>
        </layout>
    </appender>

    <appender name="CUSTOM_FILE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/api.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <maxFileSize>10KB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [CUSTOM_FILE_LOG] ${LOG_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <appender name="CUSTOM_MDC_FILE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/api_mdc.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/api_mdc.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <maxFileSize>100KB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [CUSTOM_FILE_LOG] ${LOG_MDC_PATTERN} ${LOG_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <appender name="CUSTOM_ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/error.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <maxFileSize>100KB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [CUSTOM_ERROR] ${LOG_MDC_PATTERN} ${LOG_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_API_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/api_async.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/api_async.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <maxFileSize>100KB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [CUSTOM_FILE_LOG] ${LOG_MDC_PATTERN} ${LOG_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CUSTOM_CONSOLE"/>
        <appender-ref ref="CUSTOM_FILE_LOG"/>
        <appender-ref ref="CUSTOM_MDC_FILE_LOG"/>
        <appender-ref ref="CUSTOM_ERROR_LOG"/>
    </root>

    <logger name="ASYNC_LOG" level="INFO" additivity="false">
        <appender-ref ref="ASYNC_API_LOG"/>
    </logger>
</included>